* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	max-width: 1280px;
	color: white;
	background-color: #2c3e50;
}

a {
	color: white;
	text-decoration: none;
}

header {
	background-color: #2c3e50;
	color: white;
	text-align: center;
	height: 100%;
	width: 25%;
	float: left;
}

#wrapper {
	position: fixed;
	padding-left: 2em;
}

.logo-name {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.2;
}

h1 {
	font-family: 'Roboto Slab', serif;
}

h2 {
	line-height: 1;
	font-weight: 800;
	padding: .2em 0;
	font-size: 22px;
	color: #f1c40f;
}

header a {
	display: block;
}

header nav a {
	padding: 1em 0;
}

header nav a:hover, .photog-box a:hover {
	color: #f1c40f;
}

.current {
	color: #f1c40f;
}

section {
	float: right;
	width: 75%;
}

.grid-images {
	width: 30%;
	padding: .1em;
}

/*ABOUT PAGE STYLES*/

#headshot {
	float: left;
	width: 45%;
	padding: 3em 0 0 1em;
}

#bio {
	font-size: 14px;
	float: right;
	width: 45%;
	color: white;
	padding: 3.4em 3em 0 0;
	line-height: 1.5;
}

/*PHOTOGRAPHERS PAGE STYLES*/

#photographers {
	display: flex;
	flex-wrap: wrap;
	padding-top: 1.5em;
}

.photog-box {
	width: 31%;
	padding-right: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.photog-box img {
	width: 100%;
	border: .25px solid white;
}

.photog-box h3 {
	text-transform: uppercase;
	color: #f1c40f;
}

.photog-box p {
	font-size: .9em;
}

/*RESPONSIVE STYLES*/

@media only screen and (max-width: 1150px) {
	.grid {
		width: 70%;
	}

	.grid-images {
		width: 30%;
	}

	#photographers {
		justify-content: center;
	}

	.photog-box {
		width: 40%;
		padding: 0 .5em 1em .5em;
	}
}

@media only screen and (max-width: 1000px) {
	.grid {
		width: 60%;
		margin-right: 2em;
	}

	.grid-images {
		width: 100%;
	}

	#bio, #headshot {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 1em 0 0 0;

	}

	#headshot {
		width: 50%;
	}

	#bio {
		width: 80%;
	}
}

@media only screen and (max-width: 900px) {
	#photographers {
		width: 65%;
	}

	.photog-box {
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	header, section {
		float: none;
	}

	header {
		height: 10em;
		width: 100%;
	}

	header a {
		display: inline-block;
	}

	header nav a {
		padding: .2em 1em;
	}

	#wrapper {
		padding: 0;
		position: static;
	}

	.logo-name {
		margin-bottom: 0;
	}

	.grid {
		margin-right: 0;
		width: 100%;
	}

	#photographers {
		width: 100%;
	}

	.photog-box {
		width: 80%;
	}

	#about {
		margin: 0 auto;
	}

	#bio, #headshot {
		width: 90%;
	}
}

@media only screen and (max-width: 420px) {
	body {
		font-size: 15px;
	}

	.photog-box {
		width: 100%;
	}

	#bio, #headshot {
		width: 100%;
	}
}